/* You can add global styles to this file, and also import other style files */

html, body{
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body{
  margin: 0;
  height: 100%;

}


mat-card {
  margin: 20px;
}


mat-error{
  font-size: 14pt;
}

.mat-form-field{
  margin-top: 15px;
  width: 300px;
  font-size: 14pt;
}

button {
  margin-top: 15px;
  margin-bottom: 10px;

}

mat-card-header{
  background-color: black;
  color: white;
  padding: 10px;
}
