<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <div class="container-fluid">
        <div class="row">
          <div class="col-9">
            Contact History
          </div>
          <div class="col-3">
            View/Edit
          </div>
        </div>
      </div>
    </mat-expansion-panel-header>
    <button type="button" mat-stroked-button
            (click)="addNewHistory()">Add New History</button>
    <div class="card m-1">
      <div class="card-header">
        <div class="row m-2  row-header">
          <div class="col-6 col-header">
            Contact Description
          </div>
          <div class="col-3 col-header">
            Contact Date
          </div>
          <div class="col-3 col-header">
           View/Edit
          </div>
        </div>
      </div>
     <div class="card-body">
       <div class="row m-2" *ngFor="let contactHistory of contact.history">
         <div class="col-6">
           {{contactHistory.description}}
         </div>
         <div class="col-3">
           {{contactHistory.date |date}}
         </div>
         <div class="col-3">
           <button type="button" mat-button (click)="viewEdit(contactHistory)">
             View/edit
             <mat-icon>forward</mat-icon>
           </button>
         </div>
       </div>
     </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
