<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add Contact
      </mat-panel-title>
      <mat-panel-description>
        Enter Contact Info
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-conact-add [contact]="contact"></app-conact-add>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        View Contacts
      </mat-panel-title>
      <mat-panel-description>
        All contacts
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let contact of contacts">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{contact.firstName}} {{contact.lastName}}
          </mat-panel-title>
          <mat-panel-description>
            {{contact.description}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-conact-add [contact]="contact"></app-conact-add>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
</mat-accordion>
